Alla grafer ska exporteras till en undermapp som heter visualiseringar i ditt repo för labben. Exportera matplotlib grafer
i png-format och plotly-grafer som html-filer. Ge relevanta namn till dina filer så det blir lätt att referera till dem.
Tänk på data storytelling, graferna du skapar ska ha lämpliga rubriker, labels, annoteringar mm.

Uppgift 1
I den här uppgiften ska du visualisera med hjälp av matplotlib

a) Börja med att läsa in filen riket2023_åk9_np.xlsx och sheets för de olika ämnena (engelska, matematik, svenska,
svenska som andraspråk). Ändra kolumnnamnen på respektive dataframe så du får något liknande som nedan.
Plats   Huvudman  Totalt(A-F)   Flickor(A-F)  Pojkar(A-F) Totalt(A-E) Flickor(A-E)   Pojkar(A-E)  Totalt(poäng)   Flickor(poäng)  Pojkar(poäng)

Riket   Samtliga    93225       45800         47425         96.1        97.9        94.4            13.6            14.5            12.7
Riket   Kommunal    72771       35484         37287         95.7        97.6        93.8            13.3            14.3            12.4
Riket   Enskild     20414       10297         10117         97.6          98.7      96.6            14.4            15.2            13.5
Riket   Skolverket  40          19            21 100        100         100         15              15.9            14.2

b) För de olika ämnena, rita en stapeldiagram på totala poängen för de olika huvudmännen. Placera alla diagram i en
plott med subplottar

In [2]:
import pandas as pd

In [4]:
df_eng = pd.read_excel("riket2023_åk9_np.xlsx", sheet_name="Engelska",
                       skiprows=8,
                       header=0)

In [5]:
df_eng

,Riket,Typ av huvudman,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [13]:
df_eng = df_eng.rename(columns={'Riket': 'Plats'})
df_eng.columns.values[2] = 'Totalt(A-F)'
df_eng.columns.values[3] = 'Flickor(A-F)'
df_eng.columns.values[4] = 'Pojkar(A-F)'
df_eng.columns.values[5] = 'Totalt(A-E)'
df_eng.columns.values[6] = 'Flickor(A-E)'
df_eng.columns.values[7] = 'Pojkar(A-E)'
df_eng.columns.values[8] = 'Totalt(Poäng)'
df_eng.columns.values[9] = 'Flickor(Poäng)'
df_eng.columns.values[10] = 'Pojkar(Poäng)'
df_eng

,Plats,Typ av huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(Poäng),Flickor(Poäng),Pojkar(Poäng)
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2